# Node.js
node_modules/
npm-debug.log*
yarn-error.log*

# Firebase
.firebase/
firebase-debug.log*
firebase-debug.*.log
.firebaserc

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor
.vscode/
.idea/

# Local/Env
.env
.env.local
